$bg-color: #F7F0FF;
$bg-dark: #202020;
$dark-font: #222222;
$purple-gradient: linear-gradient(180deg,#6800B8 0%, #A869FE 100%);
$light-purple: #6601B3;
$light-font: #F5F5F5;
$purple-medium: #5900A3;