@keyframes upAndDown{
  0% {
    transform: translateY(-4rem);
  }
  50% {
      transform: translateY(2.5rem);
  }
  100% {
      transform: translateY(-4rem);
  }
}

@keyframes arrowUpAndDown{
  0% {
    transform: translateY(-1rem);
  }
  50% {
      transform: translateY(1rem);
  }
  100% {
      transform: translateY(-1rem);
  }
}