@mixin font-gradient(){
  background: $purple-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin font-styles($font-family,$font-size,$font-color){
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
}