@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Lexend:wght@300;400;500;600&display=swap");
@keyframes upAndDown {
  0% {
    transform: translateY(-4rem);
  }
  50% {
    transform: translateY(2.5rem);
  }
  100% {
    transform: translateY(-4rem);
  }
}
@keyframes arrowUpAndDown {
  0% {
    transform: translateY(-1rem);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F0FF;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #202020;
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6800B8 0%, #A869FE 100%);
}

.hide {
  display: none !important;
}

#email-success, #text-limit {
  position: fixed;
  z-index: 1010;
  left: 50%;
  top: 2%;
  background-color: #b9ff7f;
  transform: translateX(-50%);
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #222222;
  font-weight: 400;
}

#text-limit {
  background-color: #c50000;
}

.header {
  width: 100%;
  background-color: #5900A3;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header #responsive-menu {
  display: none;
}
.header .navbar {
  width: 90%;
}
.header .navbar .header-menu {
  max-width: 100%;
}
.header .navbar .header-menu .navbar-brand {
  width: 3rem;
  height: 3rem;
}
.header .navbar .header-menu .collapse {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link {
  position: relative;
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #F5F5F5;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link) {
  width: 2.5rem;
  height: auto;
  transition: 0.5s ease-out;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link) img {
  width: 100%;
  height: 100%;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link):hover {
  transform: scale(1.1) rotate3d(0, 0, 1, 360deg);
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.image-link)::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 0;
  height: 0.1rem;
  transition: width 0.3s;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.image-link):hover::before {
  width: 80%;
  background-color: #F7F0FF;
}
.header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.image-link).active::before {
  width: 100%;
  background-color: #F7F0FF;
}

.main-block {
  width: 100%;
  margin-top: 6rem;
}
.main-block #down-arrow > img {
  width: 3rem;
  animation: arrowUpAndDown 1.5s infinite;
}
.main-block .container {
  max-width: 90%;
}
.main-block .start-block {
  height: 30rem;
}
.main-block .start-block .start-block-itens {
  grid-template-columns: 2fr 1fr;
}
.main-block .start-block .start-block-itens .text-block {
  max-width: 90%;
}
.main-block .start-block .start-block-itens .text-block #introduction-text {
  font-family: "Lexend", arial, sans-serif;
  font-size: 2.2rem;
  color: #222222;
  font-weight: 400;
}
.main-block .start-block .start-block-itens .text-block #occupation-area {
  font-family: "Lexend", arial, sans-serif;
  font-size: 2.65rem;
  color: #222222;
  background: linear-gradient(-90deg, #993ee4 40%, #46027e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.main-block .start-block .start-block-itens .text-block p {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.3rem;
  color: #222222;
  font-weight: 200;
}
.main-block .start-block .start-block-itens .text-block .buttons-div {
  width: max-content;
}
.main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary {
  background-color: #6601B3;
  border: 0.1rem solid #6601B3;
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.4rem;
  color: #F5F5F5;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary:hover {
  transform: scale(1.1);
}
.main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
  border: 0.15rem solid #6601B3;
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.3rem;
  color: #222222;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
}
.main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary:hover {
  background-color: #6601B3;
  color: #F5F5F5;
  transform: scale(1.1);
}
.main-block .start-block .start-block-itens .image-block {
  width: 100%;
  height: 20rem;
}
.main-block .start-block .start-block-itens .image-block div {
  width: 20rem;
  height: 20rem;
  background-color: #6601B3;
  border-radius: 100%;
}
.main-block .start-block .start-block-itens .image-block div img {
  width: 90%;
  height: 90%;
  animation: upAndDown 3s infinite normal;
}
.main-block .techs-block {
  background-color: #5900A3;
}
.main-block .techs-block h2 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 2.2rem;
  color: #F5F5F5;
}
.main-block .techs-block .techs-block-itens {
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.main-block .techs-block .techs-block-itens h3 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 1.8rem;
  color: #F5F5F5;
}
.main-block .techs-block .techs-block-itens span {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.4rem;
  color: #F5F5F5;
  font-weight: 200;
}
.main-block .techs-block .techs-block-itens .techs-part {
  min-height: max-content;
  width: 100%;
  box-shadow: 0px 0px 10px 3px #151515 inset;
  transition: 0.5s;
}
.main-block .techs-block .techs-block-itens .techs-part .elements div img {
  width: 3rem;
  height: auto;
  filter: drop-shadow(0 0 0.15rem #222);
}
.main-block .techs-block .techs-block-itens .abilities-part {
  min-height: max-content;
  width: 100%;
  box-shadow: 0px 0px 10px 3px #202020 inset;
  transition: 0.5s;
}
.main-block .techs-block .techs-block-itens .abilities-part .elements div img {
  width: 4rem;
  height: auto;
}
.main-block .projects-block .projects-block-items h2 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 2.4rem;
  color: #222222;
}
.main-block .projects-block .projects-block-items .swiper {
  width: 100% !important;
  overflow-x: hidden;
  height: 100%;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper {
  width: 100%;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
  max-width: 100% !important;
  height: 34rem !important;
  background-color: #5900A3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem auto auto;
  grid-template-areas: "image text" "techs techs" "buttons buttons";
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects img.rounded {
  grid-area: image;
  object-fit: fill;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section {
  grid-area: text;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 2.4rem;
  color: #F5F5F5;
  letter-spacing: 0.1%;
  margin-bottom: 0.1rem;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.3rem;
  color: #F5F5F5;
  font-weight: 200;
  margin-bottom: 0;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used {
  grid-area: techs;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #F5F5F5;
  font-weight: 200;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
  width: 2.5rem;
  filter: drop-shadow(0 0 0.15rem #222);
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
  width: max-content;
  grid-area: buttons;
  padding-bottom: 1rem;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
  align-self: flex-end;
  background: #202020;
  border-color: #202020;
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #F5F5F5;
  transition: all 0.3s ease-in-out;
}
.main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary:hover {
  transform: scale(1.1);
}
.main-block .projects-block .projects-block-items .swiper #swiper-pagination {
  position: unset;
}
.main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet {
  margin-top: 1rem;
  width: 0.8rem;
  height: 0.8rem;
}
.main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5900A3;
}
.main-block .contact-block {
  background-color: #5900A3;
  height: max-content;
}
.main-block .contact-block h2 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 2rem;
  color: #F5F5F5;
}
.main-block .contact-block .contact-block-items {
  grid-template-columns: repeat(2, 1fr);
}
.main-block .contact-block .contact-block-items h3 {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 1.6rem;
  color: #F5F5F5;
}
.main-block .contact-block .contact-block-items nav.d-flex {
  justify-self: flex-start;
}
.main-block .contact-block .contact-block-items nav.d-flex a {
  text-decoration: underline;
}
.main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.1rem;
  color: #F5F5F5;
  font-weight: 900;
  border-color: #202020;
  border-width: 0.2rem;
}
.main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary:hover {
  background-color: #F7F0FF;
  color: #222222;
  border-color: #F7F0FF;
}
.main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary.copied {
  border-color: #99ff46;
  color: #b9ff7f;
  background-color: #202020;
}
.main-block .contact-block .contact-block-items nav.d-flex .contact-texts {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #F5F5F5;
  font-weight: 200;
}
.main-block .contact-block .contact-block-items nav.d-flex .contact-section-images {
  width: 2.5rem;
}
.main-block .contact-block .contact-block-items .form {
  position: relative;
  right: 0;
}
.main-block .contact-block .contact-block-items .form .row {
  position: relative;
}
.main-block .contact-block .contact-block-items .form .row .form-control:focus {
  box-shadow: #F7F0FF;
}
.main-block .contact-block .contact-block-items .form .row label {
  font-family: "Lexend", arial, sans-serif;
  font-size: 1.2rem;
  color: #F5F5F5;
  font-weight: 200;
}
.main-block .contact-block .contact-block-items .form .row button[type=submit] {
  width: min-content;
  background: #202020;
  border-color: #202020;
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 1.3rem;
  color: #F5F5F5;
  transition: all 0.3s ease-in-out;
}
.main-block .contact-block .contact-block-items .form .row button[type=submit]:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #202020;
  height: 4rem;
}
.footer p {
  font-family: "Bebas Neue", arial, sans-serif;
  font-size: 1.3rem;
  color: #F5F5F5;
}

@media (min-width: 1660px) {
  .header {
    height: 8rem;
  }
  .header .navbar .header-menu .navbar-brand {
    width: 4.5rem;
    height: 4.5rem;
  }
  .header .navbar .header-menu .collapse .navbar-nav {
    flex-direction: row;
    gap: 3rem;
  }
  .header .navbar .header-menu .collapse .navbar-nav .nav-link {
    font-size: 1.75rem;
  }
  .header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link) {
    width: 3.5rem;
    height: auto;
    transition: 0.5s ease-out;
  }
  .header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link) img {
    width: 100%;
    height: 100%;
  }
  .header .navbar .header-menu .collapse .navbar-nav .nav-link:not(.text-link):hover {
    transform: scale(1.1) rotate3d(0, 0, 1, 360deg);
  }
  .header .navbar .header-menu .collapse .navbar-nav .nav-link::before {
    height: 0.25rem;
  }
  .main-block {
    width: 100%;
    margin-top: 8rem;
  }
  .main-block #down-arrow > img {
    width: 4rem;
    animation: arrowUpAndDown 1.5s infinite;
  }
  .main-block .container {
    max-width: 90%;
  }
  .main-block .start-block {
    height: 38rem;
  }
  .main-block .start-block .start-block-itens .text-block {
    max-width: 95%;
  }
  .main-block .start-block .start-block-itens .text-block #introduction-text {
    font-size: 2.5rem;
  }
  .main-block .start-block .start-block-itens .text-block #occupation-area {
    font-size: 2.75rem;
  }
  .main-block .start-block .start-block-itens .text-block p {
    font-size: 2rem;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary {
    font-size: 1.75rem;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
    font-size: 1.75rem;
    border-width: 0.3rem;
  }
  .main-block .start-block .start-block-itens .image-block {
    width: 100%;
    height: 26rem;
  }
  .main-block .start-block .start-block-itens .image-block div {
    width: 26rem;
    height: 100%;
  }
  .main-block .techs-block h2 {
    font-size: 3.4rem;
    margin-top: 1rem;
  }
  .main-block .techs-block .techs-block-itens {
    gap: 3rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 2.5rem;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1.75rem;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 4rem;
  }
  .main-block .techs-block .techs-block-itens .abilities-part {
    height: 34rem;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 5.5rem;
  }
  .main-block .projects-block .projects-block-items h2 {
    font-size: 3.4rem;
    margin-top: 0.5rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    height: 40rem !important;
    grid-template-rows: 20rem auto auto;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 1.6rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used {
    grid-area: techs;
    gap: 3rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
    font-size: 1.5rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 3.5rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
    padding-bottom: 1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
    font-size: 1.65rem;
    padding: 0.5rem 1.5rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination {
    height: 3rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet {
    margin-top: 1.3rem;
    width: 1.2rem;
    height: 1.2rem;
  }
  .main-block .contact-block h2 {
    font-size: 3.4rem;
    margin-top: 1.5rem;
  }
  .main-block .contact-block .contact-block-items h3 {
    font-size: 2.5rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary {
    font-size: 1.5rem;
    border-width: 0.3rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .contact-texts {
    font-size: 1.5rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .contact-section-images {
    width: 2.5rem;
  }
  .main-block .contact-block .contact-block-items .form {
    position: relative;
    right: 0;
  }
  .main-block .contact-block .contact-block-items .form .row {
    position: relative;
  }
  .main-block .contact-block .contact-block-items .form .row .form-control {
    font-size: 1.5rem;
  }
  .main-block .contact-block .contact-block-items .form .row .form-control:focus {
    box-shadow: #F7F0FF;
  }
  .main-block .contact-block .contact-block-items .form .row label {
    font-size: 1.5rem;
  }
  .main-block .contact-block .contact-block-items .form .row button[type=submit] {
    font-size: 1.75rem;
  }
  .footer {
    background-color: #202020;
    height: 6rem;
  }
  .footer p {
    font-size: 1.75rem;
  }
}
@media (max-width: 1023px) {
  .header #responsive-menu {
    display: block !important;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #F5F5F5;
  }
  .header .navbar .header-menu {
    max-width: min-content;
    margin: 0;
  }
  .header .navbar .header-menu #main-navbar {
    position: fixed;
    top: 6rem;
    left: 0;
    display: flex;
    flex-basis: auto;
    align-items: flex-start;
    justify-content: flex-start;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    height: calc(100vh - 6rem);
    background-color: rgba(32, 32, 32, 0);
    z-index: 1010;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav {
    position: fixed;
    right: 0;
    top: 6rem;
    width: 0;
    z-index: 1010;
    background-color: #5900A3;
    height: calc(100vh - 6rem);
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem !important;
    transition: all 0.3s ease-in-out;
    flex-direction: column !important;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 0;
    height: 0.1rem;
    transition: width 0.3s;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link:hover::before {
    width: 80%;
    background-color: #F7F0FF;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link.active::before {
    width: 70%;
    background-color: #F7F0FF;
  }
  .header .navbar .header-menu #main-navbar.actived {
    width: 100%;
    visibility: visible;
    background-color: rgba(32, 32, 32, 0.5411764706);
    transition: background-color 0.5s;
  }
  .header .navbar .header-menu #main-navbar.actived .navbar-nav {
    width: 55%;
  }
  .main-block {
    margin-top: 6rem;
  }
  .main-block #down-arrow > img {
    display: none;
  }
  .main-block .start-block {
    height: 29rem;
  }
  .main-block .start-block .start-block-itens .text-block {
    max-width: 90%;
  }
  .main-block .start-block .start-block-itens .text-block #introduction-text {
    font-size: 2.1rem;
  }
  .main-block .start-block .start-block-itens .text-block #occupation-area {
    font-size: 2.3rem;
  }
  .main-block .start-block .start-block-itens .text-block p {
    font-size: 1.1rem;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary, .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
    font-size: 1.1rem;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary:hover, .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary:hover {
    transform: scale(1.1);
  }
  .main-block .start-block .start-block-itens .image-block {
    width: 100%;
    height: 20rem;
  }
  .main-block .start-block .start-block-itens .image-block div {
    width: 16rem;
    height: 16rem;
    background-color: #6601B3;
    border-radius: 100%;
  }
  .main-block .start-block .start-block-itens .image-block div img {
    width: 90%;
    height: 90%;
    animation: upAndDown 3s infinite normal;
  }
  .main-block .techs-block {
    background-color: #5900A3;
  }
  .main-block .techs-block h2 {
    font-size: 2rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 1.6rem;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1.2rem;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 2.3rem;
    height: auto;
  }
  .main-block .techs-block .techs-block-itens .abilities-part {
    height: 28rem;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 2.8rem;
    height: auto;
  }
  .main-block .projects-block .projects-block-items h2 {
    font-size: 2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    height: 30rem !important;
    grid-template-rows: 12rem auto auto;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
    font-size: 1.8rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 1.1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used {
    grid-area: techs;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 2.2rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination {
    position: unset;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet {
    margin-top: 1rem;
    width: 0.8rem;
    height: 0.8rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5900A3;
  }
  .main-block .contact-block {
    background-color: #5900A3;
    height: max-content;
  }
  .main-block .contact-block h2 {
    font-size: 2rem;
  }
  .main-block .contact-block .contact-block-items {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .main-block .contact-block .contact-block-items .form .row {
    margin: 0;
  }
  .main-block .contact-block .contact-block-items .form .row > *:not(button) {
    padding-left: 0;
    padding-right: 0;
  }
  .main-block .contact-block .contact-block-items h3 {
    font-size: 1.4rem;
  }
}
@media (max-width: 794px) {
  .main-block {
    margin-top: 9rem;
  }
  .main-block .start-block {
    height: 100%;
  }
  .main-block .start-block .start-block-itens {
    grid-template-columns: 1fr;
  }
  .main-block .start-block .start-block-itens .text-block {
    margin: auto;
    width: 100%;
  }
  .main-block .techs-block {
    background-color: #5900A3;
  }
  .main-block .techs-block h2 {
    font-size: 2rem;
  }
  .main-block .techs-block .techs-block-itens {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 1.85rem;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1.5rem;
  }
  .main-block .techs-block .techs-block-itens .techs-part, .main-block .techs-block .techs-block-itens .abilities-part {
    justify-self: center;
    width: 100%;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 2.75rem;
    height: auto;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 4rem;
    height: auto;
  }
  .main-block .projects-block .projects-block-items h2 {
    font-weight: 500;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-button-next {
    right: 1.6rem;
    top: unset;
    bottom: 0 !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-button-prev {
    left: 1.2rem;
    top: unset;
    bottom: 0 !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-button-next::after, .main-block .projects-block .projects-block-items .swiper .swiper-button-prev::after {
    font-size: 2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    max-width: 91.5% !important;
    height: 32rem !important;
    grid-template-rows: 13rem auto auto;
    gap: 0.5rem 1rem !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used {
    max-width: 100%;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
    font-size: 1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 2.2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
    width: max-content;
    grid-area: buttons;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
    font-size: 1.1rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination {
    position: unset;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet {
    margin-top: 0;
    width: 0.8rem;
    height: 0.8rem;
  }
  .main-block .projects-block .projects-block-items .swiper #swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5900A3;
  }
  .footer p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .main-block {
    margin-top: 7.5rem;
  }
  .main-block .start-block .start-block-itens .text-block #introduction-text {
    font-size: 1.6rem;
  }
  .main-block .start-block .start-block-itens .text-block #occupation-area {
    font-size: 1.8rem;
  }
  .main-block .start-block .start-block-itens .text-block p {
    font-size: 1rem;
    margin-bottom: 0 !important;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary, .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
    padding: 0.5rem 1rem !important;
  }
  .main-block .start-block .start-block-itens .image-block {
    height: 18rem;
  }
  .main-block .start-block .start-block-itens .image-block div {
    width: 15rem;
    height: 15rem;
  }
  .main-block .techs-block {
    background-color: #5900A3;
  }
  .main-block .techs-block h2 {
    font-size: 2.2rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 1.8rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1.2rem;
    font-weight: 200;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements {
    gap: 1.25rem !important;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 2.5rem;
    height: auto;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements {
    gap: 1.25rem !important;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 3.5rem;
    height: auto;
  }
  .main-block .projects-block .projects-block-items h2 {
    font-size: 2.2rem;
    letter-spacing: 1%;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-button-prev {
    left: 1rem;
    top: unset;
    bottom: 0 !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    max-width: 95% !important;
    justify-items: center;
    grid-template-rows: 12rem repeat(3, 1fr);
    grid-template-areas: "image image" "text text" "techs techs" "buttons buttons";
    gap: 0.5rem 1rem !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section {
    width: 100%;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
    font-size: 1.5rem;
    margin: 0.2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 0.9rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
    gap: 0.5rem !important;
    font-size: 0.9rem;
    padding-right: 0;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
    padding: 0;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
    font-size: 0.9rem;
  }
  .main-block .contact-block h2 {
    font-size: 2.2rem;
    letter-spacing: 1%;
  }
  .main-block .contact-block .contact-block-items {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .main-block .contact-block .contact-block-items h3 {
    font-size: 1.6rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex {
    justify-self: flex-start;
  }
  .main-block .contact-block .contact-block-items nav.d-flex a {
    text-decoration: underline;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary {
    font-size: 1rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .contact-texts {
    font-size: 1rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .contact-section-images {
    width: 2.25rem;
  }
  .main-block .contact-block .contact-block-items .form .row {
    position: relative;
  }
  .main-block .contact-block .contact-block-items .form .row .form-control:focus {
    box-shadow: #F7F0FF;
  }
  .main-block .contact-block .contact-block-items .form .row label {
    font-size: 1.1rem;
  }
  .main-block .contact-block .contact-block-items .form .row button[type=submit] {
    width: min-content;
    background: #202020;
    border-color: #202020;
    font-family: "Bebas Neue", arial, sans-serif;
    font-size: 1.3rem;
    color: #F5F5F5;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
  }
  .main-block .contact-block .contact-block-items .form .row button[type=submit]:hover {
    transform: scale(1.1);
  }
  .footer p {
    justify-self: center;
    font-size: 1rem;
    max-width: 75%;
    margin: auto;
  }
}
@media (max-width: 475px) {
  .main-block .start-block .start-block-itens {
    justify-content: center;
  }
  .main-block .start-block .start-block-itens .text-block #introduction-text {
    font-size: 1.6rem;
  }
  .main-block .start-block .start-block-itens .text-block #occupation-area {
    font-size: 1.75rem;
  }
  .main-block .start-block .start-block-itens .text-block p {
    font-size: 1rem;
    margin-bottom: 0 !important;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div {
    gap: 0.8rem !important;
    margin: 0.5rem auto !important;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary, .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
    font-size: 1rem;
    padding: 0.5rem 0.8rem !important;
  }
  .main-block .start-block .start-block-itens .image-block {
    height: 15rem;
  }
  .main-block .start-block .start-block-itens .image-block div {
    width: 13rem;
    height: 13rem;
  }
  .main-block .techs-block {
    background-color: #5900A3;
  }
  .main-block .techs-block h2 {
    font-size: 1.6rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 1.45rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1rem;
    font-weight: 200;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements {
    gap: 1.25rem !important;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 2.25rem;
    height: auto;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements {
    gap: 1rem !important;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 3rem;
    height: auto;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    height: 34rem !important;
    grid-template-rows: 10rem repeat(3, 1fr);
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects img.rounded {
    width: 95%;
    height: 100%;
    filter: brightness(0.8);
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 0.9rem;
    margin: 0.2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
    font-size: 0.9rem;
    padding-right: 0;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 2rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
    padding: 0;
    gap: 0.4rem !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
  .header #responsive-menu {
    font-size: 2.5rem;
  }
  .header .navbar .header-menu .navbar-brand {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link {
    position: relative;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    width: 0;
    height: 0.1rem;
    transition: width 0.3s;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link:hover::before {
    width: 80%;
    background-color: #F7F0FF;
  }
  .header .navbar .header-menu #main-navbar .navbar-nav .nav-link.active::before {
    width: 70%;
    background-color: #F7F0FF;
  }
  .header .navbar .header-menu #main-navbar.actived {
    width: 100%;
    visibility: visible;
    background-color: rgba(32, 32, 32, 0.5411764706);
    transition: background-color 0.5s;
  }
  .header .navbar .header-menu #main-navbar.actived .navbar-nav {
    width: 55%;
  }
  .main-block .start-block .start-block-itens .text-block #introduction-text {
    font-size: 1.5rem;
  }
  .main-block .start-block .start-block-itens .text-block #occupation-area {
    font-size: 1.65rem;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div {
    gap: 0.5rem !important;
    margin: 0.5rem auto 1rem auto !important;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .main-block .start-block .start-block-itens .text-block .buttons-div .btn-primary, .main-block .start-block .start-block-itens .text-block .buttons-div .btn-outline-primary {
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.45rem 0.75rem !important;
  }
  .main-block .start-block .start-block-itens .image-block {
    height: 14rem;
    width: 100%;
    padding: 0 !important;
  }
  .main-block .start-block .start-block-itens .image-block div {
    width: 9rem;
    height: 9rem;
  }
  .main-block .techs-block {
    background-color: #5900A3;
  }
  .main-block .techs-block h2 {
    font-size: 1.6rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .main-block .techs-block .techs-block-itens h3 {
    font-size: 1.45rem;
    letter-spacing: 1%;
  }
  .main-block .techs-block .techs-block-itens span {
    font-size: 1rem;
    font-weight: 200;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements {
    gap: 1.25rem !important;
  }
  .main-block .techs-block .techs-block-itens .techs-part .elements div img {
    width: 2.25rem;
    height: auto;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements {
    gap: 1rem !important;
  }
  .main-block .techs-block .techs-block-itens .abilities-part .elements div img {
    width: 3rem;
    height: auto;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects {
    max-width: 100% !important;
    height: 35rem !important;
    background-color: #5900A3;
    grid-template-rows: 8rem repeat(3, 1fr);
    gap: 0.5rem 1rem !important;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section h4 {
    font-size: 1.3rem;
    margin: 0.1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects section p {
    font-size: 0.8rem;
    margin: 0.1rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div {
    font-size: 0.8rem;
    padding-right: 0;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .techs-used div img {
    width: 1.7rem;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div {
    padding: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .main-block .projects-block .projects-block-items .swiper .swiper-wrapper .swiper-slide .projects .buttons-div a.btn-primary {
    margin: 0 auto;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .nav-item {
    gap: 0.25rem !important;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .contact-texts {
    font-size: 0.9rem;
  }
  .main-block .contact-block .contact-block-items nav.d-flex .btn.btn-outline-primary {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
